
AIRFLOW_FERNET_KEY=mG6iYq5UCEmIgTSTWKUw6US4CUaVs3bzSwzelRhx7Fc=
AIRFLOW_JWT_SECRET=dce93e93f1df12e644de3fd90bfe1cbef4b244f55b358b22d5ceae8ca5ac270e

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse123

METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=metabase123
